In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('car_age_price.csv')
df

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [3]:
df.columns

Index(['Year', 'Price'], dtype='object')

In [4]:
df.shape

(112, 2)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
df.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [6]:
df.isna().sum()

Year     0
Price    0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = df['Year']
y = df['Price']

In [10]:
X = np.array(X)
X = pd.DataFrame(X)
X

        0
0    2018
1    2019
2    2019
3    2018
4    2018
..    ...
107  2016
108  2014
109  2015
110  2016
111  2015

[112 rows x 1 columns]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

### Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
model = lr.fit(X_train,y_train)

In [15]:
predictions = model.predict(X_test)

In [16]:
pred1 = model.predict(pd.DataFrame([2022]))
pred1

array([740160.11937766])

In [17]:
from sklearn.metrics import mean_squared_error,r2_score

In [34]:
mse = mean_squared_error(y_test,predictions)
mse

3878767151.0731072

In [36]:
r2 = r2_score(y_test,predictions)
r2

0.4347961632108521

### Lasso Regression

In [21]:
from sklearn.linear_model import Lasso

In [22]:
from sklearn.model_selection import GridSearchCV

In [23]:
lasso = Lasso(alpha=0.01)

In [24]:
lasso.fit(X_train,y_train)

Lasso(alpha=0.01)

In [25]:
y_pred = lasso.predict(pd.DataFrame([2022]))

In [26]:
y_pred

array([740160.0977539])

In [29]:
y_pred_lasso = lasso.predict(X_test)

In [37]:
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
mse_lasso

3878766838.5196795

In [39]:
r2_lasso = r2_score(y_test,y_pred_lasso)
r2_lasso

0.43479620875532277

In [41]:
if mse < mse_lasso and r2 > r2_lasso:
    print ("Linear Regression performs better.")
elif mse_lasso < mse and r2_lasso > r2:
    print("Lasso Regression performs better.")
else:
    print("Both models perfrom similarly.")

Lasso Regression performs better.